.App {
  text-align: center;
}

body {
  background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/a/a6/VST_image_of_the_Hercules_galaxy_cluster.jpg/1280px-VST_image_of_the_Hercules_galaxy_cluster.jpg') no-repeat center center fixed;
}

.header {
  background-color: white;
  font-family: 'Times New Roman';
}

.directory-name {
  font-family: 'Times New Roman';
  text-emphasis-color: black;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.directory-image {
  width: 100px;
  height: 100px;
}

.directory-entry {
  background-color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
